---
---

@import "{{ site.theme }}";

@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";

a:link {
  color:#39c;
  text-decoration:none;
}

a:visited {
  text-decoration:none;
}

a:hover {
  text-decoration:none;
  font-weight:normal;
}

a:active{
  text-decoration:none;
}

